.construction-request-observer
    position: relative
    width: 80px
    height: 80px
    border: 1px solid red
    border-radius: 20px
    margin: 5px
    padding: 5px
    overflow: hidden

.construction-request-observer .text
    font-size: 12px

.construction-request-observer .level
    position: absolute
    bottom: 5px
    right: 5px
