<h2 [innerText]="administrableLocation.name"></h2>

<section *ngIf="administrableLocation.type.canConstructBuildings">
    <div class="row">
        <h3>Constructions</h3>
        <div class="constructions">
            <app-construction
                *ngFor="let constructionType of administrableLocation.type.constructions"
                [administrableLocation]="administrableLocation"
                [type]="constructionType"
                [level]="administrableLocation.constructions[constructionType.name]"
                (onbuild)="onBuild($event)"
                ></app-construction>
        </div>
    </div>

    <div class="row">
        <h3>Constructions en cours</h3>
        <div class="constructions-production">
            <app-construction-request-observer
                *ngFor="let observer of administrableLocation.constructionProduction"
                [observer]="observer"
                ></app-construction-request-observer>
        </div>
    </div>
</section>

<section *ngIf="administrableLocation.type.canBuildShips">
    <div class="row">
        <h3>Vaisseaux</h3>
        <div class="ships">
            <app-ship
                *ngFor="let shipType of administrableLocation.type.ships"
                [administrableLocation]="administrableLocation"
                [type]="shipType"
                [nb]="administrableLocation.ships[shipType.name]"
                (onbuild)="onBuild($event)"
                ></app-ship>
        </div>
    </div>
    <div class="row">
        <h3>Vaisseaux en cours</h3>
        <div class="ships-production">
            <app-ship-request-observer
                *ngFor="let observer of administrableLocation.shipProduction"
                [observer]="observer"
                ></app-ship-request-observer>
        </div>
    </div>
</section>
