<h2 [innerText]="administrableLocation.name | translate"></h2>

<section *ngIf="administrableLocation.type.canConstructBuildings">
    <div class="row">
        <h3 [innerText]="'Constructions' | translate"></h3>
        <div class="constructions">
            <app-construction
                *ngFor="let constructionType of administrableLocation.type.constructions"
                [administrableLocation]="administrableLocation"
                [type]="constructionType"
                [level]="administrableLocation.constructions[constructionType.name]"
                (build)="onBuild($event)"
                ></app-construction>
        </div>
    </div>

    <div class="row">
        <h3 [innerText]="'Constructions in progress' | translate"></h3>
        <div class="constructions-production">
            <app-construction-request-observer
                *ngFor="let observer of administrableLocation.constructionProduction"
                [observer]="observer"
                ></app-construction-request-observer>
        </div>
    </div>
</section>

<section *ngIf="administrableLocation.type.canBuildShips">
    <div class="row">
        <h3 [innerText]="'Ships' | translate"></h3>
        <div class="ships">
            <app-ship
                *ngFor="let shipType of administrableLocation.type.ships"
                [administrableLocation]="administrableLocation"
                [type]="shipType"
                [nb]="administrableLocation.ships[shipType.name]"
                (build)="onBuild($event)"
                ></app-ship>
        </div>
    </div>
    <div class="row">
        <h3 [innerText]="'Ships in progress' | translate"></h3>
        <div class="ships-production">
            <app-ship-request-observer
                *ngFor="let observer of administrableLocation.shipProduction"
                [observer]="observer"
                ></app-ship-request-observer>
        </div>
    </div>
</section>

<section *ngIf="administrableLocation.type.canDoResearch">
    <div class="row">
        <h3 [innerText]="'Researches' | translate"></h3>
        <div class="researches">
            <app-research
                *ngFor="let research of administrableLocation.type.researches"
                [administrableLocation]="administrableLocation"
                [type]="research"
                [level]="administrableLocation.researches[research.name]"
                (build)="onBuild($event)"
                ></app-research>
        </div>
    </div>
    <div class="row">
        <h3 [innerText]="'Researches in progress' | translate"></h3>
        <div class="researches-production">
            <app-research-request-observer
                *ngFor="let observer of administrableLocation.researchProduction"
                [observer]="observer"
                ></app-research-request-observer>
        </div>
    </div>
</section>
