<ng-container
    *ngIf="game.administrableLocations.length <= 1; else multipleLocations">
    <ng-container *ngTemplateOutlet="singleLocation"
        ></ng-container>
</ng-container>

<ng-template #multipleLocations>
    <div class="row">
        <div class="col-sm-2">
            <ng-container
                *ngFor="let administrableLocation of game.administrableLocations | keyvalue"
                >
                <app-administrable-location-btn
                    [administrableLocation]="administrableLocation.value"
                    (click)="changeCurrentAdministrableLocation(administrableLocation.key)"
                    ></app-administrable-location-btn>
            </ng-container>
        </div>
        <div class="col-sm-10">
            <ng-container *ngTemplateOutlet="singleLocation">
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template #singleLocation>
    <app-administrable-location
        [administrableLocation]="currentAdministrableLocation"
        (refresh)="onAdministrationLocationRefresh($event)"
        (builtAdministrableLocation)="onBuiltAdministrableLocation($event)"
        ></app-administrable-location>
</ng-template>
