<h1>Hello <span [innerText]="game.player"></span></h1>

<div
    class="locations"
    *ngIf="game.administrableLocations.length > 1; else singleLocation"
    >
    <app-administrable-location
        *ngFor="let administrableLocation of game.administrableLocations"
        [administrableLocation]="administrableLocation"
        ></app-administrable-location>
</div>
<ng-template #singleLocation>
    <app-administrable-location
        [administrableLocation]="game.administrableLocations[0]"
        ></app-administrable-location>
</ng-template>
