.construction
    position: relative
    width: 80px
    height: 80px
    border: 1px solid darkorange
    border-radius: 20px
    margin: 5px
    padding: 5px
    overflow: hidden

.construction .text
    font-size: 12px
    text-align: center

.construction .level
    position: absolute
    bottom: 5px
    right: 5px
